<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="container-fluid">
            <a routerLink="principal"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a routerLink="principal" routerLinkActive="active" class="nav-link active"
                            class="nav-link">Acesso do Fornecedor
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav" dropdown>
                    <li class="nav-item dropdown">
                        <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                            Acesso Administrador
                        </a>
                        <ul class="dropdown-menu" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li class="nav-item">
                                <a routerLink="produtos" routerLinkActive="active" class="nav-link active"
                                    class="nav-link">Produtos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="fornecedores" routerLinkActive="active" class="nav-link active"
                                    class="nav-link">Fornecedores </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="pedidos" routerLinkActive="active" class="nav-link active"
                                    class="nav-link">Pedidos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="principal" routerLinkActive="active" class="nav-link active"
                                    class="nav-link">Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>